@import "../../style.scss";

.navbar {
  @include themify($themes) {
  
    background-color: themed("bg");
    border-bottom: 1px solid themed("border");
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 3.5rem 2rem;
    position: sticky;
    top: 0;
    color: themed("textColor");

    .left {
      display: flex;
      align-items: center;
      gap: 3rem;

      span {
        font-weight: bold;
        font-size: 2rem;

        img {
          margin-top: 1rem;
          width: 4.5rem;
        }
      }

      .search{
        border: 1px solid themed("border");
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;

        input {
          background-color: transparent;
          border: none;
          color: themed("textColor");
          width: 50rem;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2rem;

      .user {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 1rem;
        
        img {
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          object-fit: cover;
        }
        span {

        }
      }
    }
  }
}