@import "../../style.scss";

.post {
  @include themify($themes) {

    background-color: themed("bg");
    border-radius: 1rem;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    color: themed("textColor");

    .container {
      padding: 2rem;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 2rem;

          img {
            border-radius: 50%;
            height: 4rem;
            object-fit: cover;
            width: 4rem;
          }
          
          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-size: 1.4rem;
              font-weight: 500;
            }
            
            .date {
              font-size: 1.2rem;
            }
          }
        }
      }
      
      .content {
        margin: 2rem 0rem;

        img {
          margin-top: 2rem;
          max-height: 50rem;
          object-fit: cover;
          width: 100%;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 2rem;

        .item {
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          gap: 1rem;
        }
      }
    }
  }
}